.totItems {
    display: flex;
    align-items: center;
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
}

.cities-list {
    margin: 20px;
    padding: 0;
}

.cities-item {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

