.totItems {
    display: flex;
    align-items: center;
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    padding-left: 20px;
}

.cities-list {
    margin: 20px;
    padding: 0;
}

.cities-item {
    display: flex;
    align-items: center;
}

.cities-item:hover {
    background-color: lightgray;
}

.cities-hover:hover {
    cursor: pointer;
}

.myCheck {
    cursor: pointer;
}

.logo {
    width: 80px;
    margin: 10px;
}

